.home-8 {
  align-items: center;
}

.home-8__wrapper {
  @include col(1, 7);

  @media (max-width: $br1) {
    @include col(1, 4);
  }

  @media (max-width: $br3) {
    @include col(1, 8);
    @include row(2, 2);
  }
}

.home-8__img-wrapper {
  @include col(9, 14);
  @include row(1, 1);
  display: block;
  max-width: 100%;

  @media (max-width: $br1) {
    @include col(5, 8);
  }

  @media (max-width: $br3) {
    @include col(1, 8);
  }
}

.home-8__img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.home-8__block {
  width: vw(720);

  @media (max-width: $br3) {
    width: 100%;
    margin-top: 30px;
  }
}

.home-8__title {
  @include black;
  font-size: vw(60);
  line-height: 130%;
  letter-spacing: -0.02em;
  color: var(--black);

  @media (max-width: $br1) {
    font-size: 42px;
  }
}

.home-8__desc {
  @include med;
  font-size: vw(30);
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--charcoal);
  margin-top: vw(100);
  margin-bottom: vw(60);

  @media (max-width: $br1) {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
  }
}
