.home {
  height: 100vh;
  padding-bottom: 0;

  @media (max-width: $br1) {
    padding-top: 132px;
  }
}

.home__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/sisu-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;

  @media (max-width: $br1) {
    background-position: 84% 50%;
  }
}

.home__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__block {
  margin-left: vw(60);
  max-width: vw(632);

  @media (max-width: $br1) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 60px;
    max-width: 632px;
  }

  @media (max-width: $br3) {
    margin-left: 0;
  }
}

.home__title {
  @include black;
  font-size: vw(72);
  line-height: 130%;
  letter-spacing: -0.02em;
  color: var(--black);

  @media (max-width: $br1) {
    font-size: 72px;
  }

  @media (max-width: $br3) {
    font-size: 42px;
  }
}

.home__desc {
  @include med;
  font-size: vw(36);
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--charcoal);
  margin-top: vw(40);

  @media (max-width: $br1) {
    font-size: 36px;
    margin-top: 20px;
  }

  @media (max-width: $br3) {
    font-size: 20px;
  }
}
