.home-2 {}

.container {}

.grid {}

.home-2__wrapper {
  align-items: center;
}

.home-2__img {
  @include col(1, 7);
  display: block;
  width: 100%;
  height: 100%;

  @media (max-width: $br1) {
    @include col(1, 4);
  }

  @media (max-width: $br3) {
    @include col(1, 8);
  }
}

.home-2__block {
  @include col(9, 14);
  width: vw(720);

  @media (max-width: $br1) {
    @include col(6, 8);
  }

  @media (max-width: $br3) {
    @include row(2, 2);
    @include col(1, 8);
    width: 100%;
    margin-top: 20px;
  }
}

.home-2__title {
  @include bold;
  font-size: vw(60);
  line-height: 130%;
  letter-spacing: -0.02em;
  color: var(--black);

  @media (max-width: $br1) {
    font-size: 48px;
  }
}

.home-2__desc {
  @include med;
  font-size: vw(30);
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--charcoal);
  margin-top: vw(100);
  margin-bottom: vw(60);

  @media (max-width: $br1) {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  @media (max-width: $br4) {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.home-2__btn {
  @media (max-width: $br1) {
    width: 250px;
  }
}