.home-6__wrapper {
  align-items: center;
}

.home-6__img {
  @include col(1, 7);
  display: block;
  max-width: 100%;

  @media (max-width: $br1) {
    @include col(1, 4);
  }

  @media (max-width: $br3) {
    @include col(1, 8);
  }
}

.home-6__block {
  @include col(9, 14);
  width: vw(720);

  @media (max-width: $br1) {
    @include col(6, 8);
  }

  @media (max-width: $br3) {
    @include row(2, 2);
    @include col(1, 8);
    width: 100%;
    margin-top: 30px;
  }
}

.home-6__title {
  @include bold;
  font-size: vw(60);
  line-height: 130%;
  letter-spacing: -0.02em;
  color: var(--black);

  @media (max-width: $br1) {
    font-size: 42px;
  }
}

.home-6__desc {
  @include med;
  font-size: vw(30);
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--charcoal);
  margin-top: vw(100);
  margin-bottom: vw(60);

  @media (max-width: $br1) {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

.home-6__btn {
  width: vw(480);

  @media (max-width: $br1) {
    width: 300px;
  }

  @media (max-width: $br4) {
    width: 100%;
  }
}
