.home-3 {
  background-color: var(--grey);
}

.home-3__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: vw(960);
  margin: 0 auto;

  @media (max-width: $br1) {
    max-width: 960px;
  }
}

.home-3__title {
  @include black;
  font-size: vw(60);
  line-height: 130%;
  letter-spacing: -0.02em;
  color: var(--black);

  @media (max-width: $br1) {
    font-size: 42px;
  }
}

.home-3__desc {
  @include med;
  font-size: vw(30);
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--charcoal);
  margin-top: vw(40);

  @media (max-width: $br1) {
    font-size: 20px;
    margin-top: 30px;
  }
}

.home-3__hover-plates {
  margin-top: vw(60);
  margin-bottom: vw(80);

  @media (max-width: $br1) {
    margin-top: 60px;
    margin-bottom: 80px;
  }
}

.home-3__plates-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: vw(20);

  @media (max-width: $br1) {
    gap: 20px;
  }

  @media (max-width: 1200px) {
    overflow-x: auto;
  }
}
