.home-7 {
  background-color: var(--grey);
}

.home-7__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-7__title {
  @include black;
  font-size: vw(60);
  line-height: 130%;
  letter-spacing: -0.02em;
  color: var(--charcoal);

  @media (max-width: $br1) {
    font-size: 42px;
  }
}

.home-7__img-wrapper {
  img {
    display: block;
    max-width: 100%;
  }
}
