* {
  &::selection {
    color: white;
    background: #ece5df;
  }
}

html {
  height: 100vh;
  height: var(--vh);
  font-size: vw(16);
}

body {
  color: var(--black);
  font-size: 1rem;
  // @include reg;
  height: 100vh;
  height: var(--vh);
  // overflow: hidden !important;
  position: relative;
  overscroll-behavior-y: none;
  @include smooth-font;

  @media (max-width: $br1) {
    font-size: 16px;
  }
}

.e-fixed {
  overflow: hidden !important;
}
