.container {
  width: 100%;
  position: relative;
  padding-left: $g-offset;
  padding-right: $g-offset;

  @media (max-width: $br1) {
    padding-left: $g-sm;
    padding-right: $g-sm;
  }

  @media (max-width: $br3) {
    padding-left: $g-s;
    padding-right: $g-s;
  }
}

.container--fh {
  height: 100%;
}

.container--nm {
  padding-left: 0;
  padding-right: 0;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(14, 1fr);
  grid-auto-flow: column;

  @media (max-width: $br1) {
    grid-template-columns: repeat(8, 1fr);
  }

  @media (max-width: $br4) {
    grid-template-columns: repeat(4, 1fr);
  }
}

@mixin col($start, $end) {
  grid-column: #{$start}/#{$end + 1};
}

@mixin row($start, $end) {
  grid-row: #{$start}/#{$end + 1};
}

.section {
  padding-top: vw(240);
  padding-bottom: vw(240);

  &--nm {
    padding-top: 0;
  }

  &--pb {
    padding-bottom: vw(240);
  }

  @media (max-width: $br1) {
    padding-top: 200px;
    padding-bottom: 200px;

    &--pb {
      padding-bottom: 200px;
    }
  }

  @media (max-width: $br3) {
    padding-top: 120px;
    padding-bottom: 120px;

    &--pb {
      padding-bottom: 120px;
    }
  }
}
